extends ../layout

block content
	div.row
		div.col-lg-12
			h1(class="page-header") Blank Page
				small  Subheading
			ol.breadcrumb
				li
					<i class="fa fa-dashboard"></i>
					a(href="index.html")  #{titulo}
				li.active
					<i class="fa fa-file"></i> Blank Page

